<script src="/js/main.js"></script>
<footer>
  <ul class="footer-nav">
    <li>
      <a href="/">Shop</a>
    </li>
    <li >
      <a href="/products"
        >Products</a
      >
    </li>
  </ul>
</footer>
</body>

</html>